<style>
    @import '../css/variable.css';

    #speed, #power {
        height: var(--spinner-height);
        grid-template-columns: 1fr 2fr;
    }
    
    .spinner {
        border: 1px solid var(--settingbox-color);
    
        display: grid;
        grid-template-columns: var(--spinner-height) 1fr var(--spinner-height);
    }
    
    .spinner > * {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    .spinner > input[type=number]::-webkit-inner-spin-button {
        appearance: none;
    }
    
    .spinner > input[type=number] {
        text-align: center;
    }
    
    .spinner > button {
        background-color: var(--settingbox-color);
    }
</style>

<template class="template">
    <div class="spinner">
        <button class="minus">-</button>
        <input class="input" type="number" value="77">
        <button class="plus">+</button>
    </div>
</template>

<script>
    function registerListener(container) {
        const minus = container.querySelector('.minus')
        const plus = container.querySelector('.plus')
        const input = container.querySelector('.input')
    
        minus.addEventListener('click', () => {
            input.value = parseInt(input.value) - 1
        })
    
        plus.addEventListener('click', () => {
            input.value = parseInt(input.value) + 1
        })
    }
</script>